@import "theme.less";
// 首页
.van-divider{
  height: 50px !important;
  margin: 0 10px !important;
}
.pushmore-index{
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: @backgroundLightGrey;
 .head{
   width: 100%;
   height: 100px;
   background-color: @backgroundBlue;
   color: @whiteColor;
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   img{
     width: 80px;
     height: 80px;
     border-radius: 50px;
     margin: 0px 20px;
   }
   .head-text{
     width: 62%;
     height: 80px;
     line-height: 27px;
     overflow: hidden;
     p{
       white-space: nowrap;
     }
   }
 }

 .active-area{
   height: 55px;
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   box-sizing: border-box;
   background-color: @backgroundWhite;
   overflow: hidden;
  //  border-bottom: 1px solid @backgroundLightGrey;
   .area{
     width: 50%;
     padding: 0px 10px;
     box-sizing: border-box;
     font-size: 16px;
     display: flex;
     justify-content:center;
     align-items: center;
     .icon-i{
       margin-right: 5px;
       color: @orangeColor;
       font-size: 25px;
     }
     .fontzise{
      padding-bottom:2px;
     }
     .right-text{
       max-width: 66px;
       overflow: hidden;
      color: @orangeColor;
      font-size: 20px;
      margin-left: 5px;
     }
   }
   .border-r{
    border-right:1px solid @borderColor;
   }
 }

 .progress-bar{
  background-color: @backgroundWhite;
  padding-bottom: 15px;
  box-sizing: border-box;
  .rank{
    width: 95%;
    margin: auto;
    text-align: center;
    padding:10px 0px;
    color:@greyColor;
  }
  ul{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    li {
      color: @greyColor;
      .horizontal-line{
        display: block;
        width: 30px;
        height: 6px;
        display: flex;
        align-items: center;
        background-color: @backgroundShallow;
        box-sizing: border-box;
        .line-ibgk{
          display: block;
          width: 100%;
          height: 3px;
          border-radius: 5px;
          background-color: @orangeColor;
          box-shadow: 0px 0px 1px 0.4px @greyColor;
        }
      }
      .award-progress{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: -20px;
        overflow: hidden;
        .progress{
          width: 50px;
          height: 50px;
          padding-top: 3px;
          text-align: center;
          background-color: @orangeColor;
          border-radius: 50px;
          box-sizing: border-box;
          color: @whiteColor;
        }
      }
      .bar-spancolor{
        color: @orangeColor;
      }
      .bar-p{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        .bar-span{
          width: 28px;
          height: 28px;
          line-height: 29px;
          text-align: center;
          background-color: @backgroundShallow;
          border-radius: 50px;
          box-sizing: border-box;
          z-index: 1;
        }
        .bgk-bar{
          box-shadow: 0px 0px 10px 1px #ff6600;
          animation:bgkBar 1s ease infinite both ;
        }
        @keyframes bgkBar {
          0% {transform: none;}
          50% {transform: scale3d(0.8,0.8,0.8);}
          100% {transform: none;}
      }

      }
    }
    .details{
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      color: @whiteColor;
      border-radius: 50px;
      // font-size: 16px;
      background-color: @orangeColor;
      margin:0px 0px 10px 13px;
      box-shadow: 0px 0px 5px 1px @orangeColor;
    }
  }
 }

 .menu-list{
   background-color: @backgroundWhite;
   margin-top: 10px;
   .list{
     width: 95%;
     height: 50px;
     margin: auto;
     display: flex;
     flex-wrap: nowrap;
     align-items: center;
     box-sizing: border-box;
     border-bottom: 1px solid @backgroundLightGrey;
     .icon{
       width: 10%;
       text-align: center;
       font-size: 28px;
       color: @borderColor;
     }
     .icon-middle{
       color: @purpleColor;
     }
     .icon-right{
       color: @lightOrangeColor;
     }
     .middle-text{
       width:75%;
       margin-left: 15px;
       font-size: 15px;
       display: flex;
       flex-wrap: nowrap;
       align-items: center;
       .remaining-time{
          color: @orangeColor;
          display: flex;
       flex-wrap: nowrap;
       margin-left: 5px;
          .remaining-icon{
            display: block;
            margin-top: -5px;
          }
       }
     }
     .icon-more{
       color: @greyColor;
     }
     .none-border{
       border: none;
     }
   }
 }

 .reminder{
   width: 95%;
   margin: 10px auto auto auto;
   padding: 10px;
   border-radius: 5px;
  //  margin-top: 10px;
   box-sizing: border-box;
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   background-color: @backgroundWhite;
   .reminder-icon{
     width: 12%;
     text-align: center;
     font-size: 20px;
     color: @orangeColor;
     margin-right: 5px;
   }
 }

 .activity-rules-desc{
   width: 95%;
   margin: auto;
   border-radius: 5px;
   max-height: 250px;
   overflow: hidden;
   overflow-y: auto;
   margin-top: 10px;
   box-sizing: border-box;
   padding: 10px;
  background-color: @backgroundWhite;
  p{
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    padding: 5px;
  }
 }
 .exchange-rules{
   width: 90%;
   padding-bottom: 15px;
   margin: 30% auto auto auto;
   background-color: @backgroundWhite;
   border-radius: 8px;
   box-sizing: border-box;
   position: relative;
   .guanbi{
        position: absolute;
        bottom:-60px;
        left: 45%;
        font-size: 40px;
        color: @whiteColor;
   }
   .van-field__clear{
     font-size: 20px !important;
     margin-right: 10px;
   }
   .van-cell{
    width: 95% !important;
    margin: auto !important;
    padding: 0;
    border-bottom: 1px solid @backgroundLightGrey;
   }
   .van-cell__title, .van-cell__value{
    -webkit-box-flex: none !important; 
    -webkit-flex: none !important; 
    flex: none !important; 
    // width: 25% !important;
   }
   .van-cell__title{
     width: 25%;
   }
   .van-cell__value{
     width: 75%;
   }
   .van-field__label{
    height: 40px;
    line-height: 40px;
   }
   .van-field__control{
     height: 40px;
   }
   .van-cell:not(:last-child)::after{
     border: none;
   }
   .title{
     height: 50px;
     line-height: 50px;
     text-align: center;
     background-color: @backgroundBlue;
     color: @whiteColor;
     font-size: 20px;
     border-radius: 8px 8px 0px 0px;
   }
   .exchange-number{
     width: 95%;
     margin: auto;
     padding:10px 0px;
     box-sizing: border-box;
     font-size: 18px;
     white-space: nowrap;
      overflow: hidden;
     span{
       color: @orangeColor;
     }
   }
   .this-exchange{
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    .this-text{
      width: 30%;
     font-size: 18px;
    }
    .stepper{
      width: 70%;
      .strip{
        display: flex;
        flex-wrap: nowrap;
        border-bottom: 1px solid @backgroundLightGrey;
        height: 40px;
        .step{
          width: 90%;
        }
        span{
          font-size: 18px;
          line-height: 35px;
        }
      }
      .marg-top{
        margin-top: 10px;
      }
    }
   }
   .tips{
     width: 95%;
     margin: auto;
     border: 1px dashed @greyColor;
     display: flex;
     flex-wrap: nowrap;
     box-sizing: border-box;
     padding: 10px;
     font-size: 15px;
     border-radius: 5px;
     .tips-text{
       color: @backgroundBlue;
     }
   }
   .but{
     display: flex;
     justify-content: space-around;
     margin-top: 30px;
     .bgkhui{
       background-color: @greyColor;
     }
     .bgkblue{
      background-color: @backgroundBlue;
     }
     .butts{
       width: 35%;
       height: 50px;
       border: none;
       border-radius: 10px;
       color: @whiteColor;
       font-size: 18px;
     }
   }
 }
 .van-dialog__header{
   font-size: 20px !important;
   color: @backgroundBlue;
 }
 .is-complete{
   padding: 10px 15px;
   box-sizing: border-box;
   white-space: normal;
   word-wrap: break-word;
   word-break: break-all;
   color: @greyColor;
 }
}
// IndexEr
.index-er{
  .active-area{
    .area{
      width: 76% !important;
      justify-content: left !important;
      .right-text{
        max-width: 99px !important;
      }
      .right-text{
       font-size: 20px;
       margin-left: 8px;
      }
    }
    .duihuan{
      width: 75px;
      background-color: @orangeColor;
      color: @whiteColor;
      box-sizing: border-box;
      padding: 5px;
      border-radius: 5px;
      text-align: center;
    }
  }
 // 进入活动领取奖品提示框
 .prize-guidance{
   width: 80%;
   height: 150px;
   margin: 50% auto auto auto;
   border-radius: 10px;
   background-color: @backgroundWhite;
   box-sizing: border-box;
   overflow: hidden;
   padding: 10px;
   h3{
     color: @redColor;
     text-align: center;
     box-sizing: border-box;
     margin:12px 0px;
     font-size: 20px;
   }
   .guidance-text{
     text-align: center;
     color: @greyColor;
     margin:12px 0px;
     font-size: 16px;
   }
   .jinruhuodong{
     text-align: center;
     color: @blueColor;
     margin:12px 0px;
     font-size: 16px;
   }
 }
 // 关闭按钮
 .close-but{
  width: 80%;
  margin: 20px auto auto auto;
  text-align: center;
  color: @whiteColor;
  span{
    font-size: 40px;
  }
 }
}

// 不符合页
.non-conformity{
  width: 100%;
  height: 100%;
  background-color: @backgroundBlue;
  .nc-tips{
    width: 100px;
    height: 100px;
    border-radius:50px;
    background-color: @backgroundWhite;
    color: @orangeColor;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    margin: 150px auto auto auto;
  }
  .nc-text{
    color: @whiteColor;
    padding: 10px;
    text-align: center;
  }
}

// 订单管理
.order-admin{
  ul li{
    width: 100%;
    height: 100px;
    background-color: @backgroundLightGrey;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
    margin-top: 15px;
    overflow: hidden;
    .order-img{
      width: 20%;
      height: 80px;
      margin-right: 10px;
      box-sizing: border-box;
    }
    .order-right{
      width: 77%;
      line-height: 22px;
      box-sizing: border-box;
      overflow: hidden;
      .exchange-number{
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
      }
      .rece-address{
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        justify-content: space-between;
        .address{
          width: 80%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: @greyColor;
        }
        .state{
          width: 20%;
          color: @orangeColor;
          text-align: right;
          font-weight: 800;
        }
        .state-lan{
          color: @blueColor;
        }
      }
      .shr-dhsj{
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        color: @greyColor;
      }

    }
  }
}

// 我的团队
.my-team{
  background-color: @backgroundLightGrey;
  height: 100%;
  .head-img{
    height: 100px;
    img{
      width: 100%;
      height: 100px;
    }
  }
  // .van-tabs{
  //   height: 100%;
  //   overflow: hidden;
  //   overflow-y: scroll;
  // }
  .van-tabs__line{
    background-color: @orangeColor !important;
  }
  .van-tab--active{
    color: @orangeColor !important;
  }
  .van-tabs__content{
    // height: 100%;
    margin-top: 10px !important;
    background-color: @backgroundWhite;
  }

  .title{
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
    box-sizing: border-box;
  }
  .list{
    ul li{
      width: 95%;
      height: 90px;
      margin: auto;
      border-bottom: 1px solid @backgroundLightGrey;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      overflow: hidden;
      box-sizing: border-box;
      .head-portrait{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 10px;
      }
      .name{
        width: 25%;
        // max-width: 35%;
        // margin-right: 8px;
        overflow: hidden;
        font-size: 16px;
        font-weight: 600;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .non-sweep-code{
        width: 16%;
        text-align: right;
        color: @backgroundBlue;
      }
      .sweep-code{
        width: 70%;
        white-space: nowrap;
        overflow: hidden;
        line-height: 25px;
        padding-top: 15px;
        .code{
          color: @backgroundBlue;
          font-weight: 600;
          text-align: right;
          padding-right: 10px;
        }
        .time{
          color: @greyColor;
          text-align: right;
        }
      }
    }
  }
}

//我的推荐二维码
.my-qr-code{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  .codeImg{
    width: 100%;
    height: 100%;
  }
  i{
    position: absolute;
    color: @backgroundBlue;
  }
  .circle{
     bottom: 22%;
     left: 69%;
     font-size: 25px;
     animation: circle 1s ease infinite both;
  }
  .finger{
    bottom: 19%;
    left: 69%;
    font-size: 50px;
    animation: finger 1s ease infinite both;
  }
  @keyframes finger{
    0% {
      transform: none;
  }
  70% {
      transform: scale3d(.8, .8, .8);
  }
  100% {
      transform: none;
  }
  }
  @keyframes circle {
    0% {
      opacity: 0;
      transform: scale3d(0, 0, 0);
  }
  70% {
      opacity: 1;
      transform: scale3d(1.2, 1.2, 1.2);
  }
  100% {
      opacity: 0;
      transform: scale3d(0, 0, 0);
  }
  }
}