@import "theme.less";
ul, li{
  list-style-type: none;
}
/* 滑动 */
.slide{
  flex: 1;
  overflow: auto;
}
/* 底部兑换按钮 */
.exchange_but01{
  bottom: 0px !important;
}
.exchange_but{
  position: absolute;
  bottom: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  border-top: 1px solid @backgroundLightGrey;
  border-bottom: 1px solid @backgroundLightGrey;
  background-color: @backgroundWhite;
  .but_text01{
    padding: 0 5px 0 10px;
    max-width: 200px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    b{font-size: 20px;color: @blueColor;}
  }
  .but_text02{
    padding: 0 5px 0 10px;
    text-align: center;
    color: @greyColor;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
  }
  .but{
    margin: 0 10px 0 5px;
    width: 100px;
    height: 35px;
    border-radius: 50px;
    background-color: @blueColor;
    border: none;
    color: @backgroundWhite;
    font-size: 16px;
  }
  .cart{
    width: 90px;
    height: 50px;
    box-sizing: border-box;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @blueColor;
    position: relative;
    .cart-icon{
      color: @whiteColor;
      font-size: 28px;
    }
    .badge{
     position: absolute;
     top: 8px;
     left: 58%;
    }
    .van-badge{
      background-color: @orangeColor;
    border: none;
    }
  }
}
// 首页
.index{
  // overflow-x:hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  /* 广告图 */
  .van-swipe{
    img{
      width: 100%;
      height: 150px;
    }
  }
  /* 烟品 */
.van_list{
  margin-bottom: 100px;
  margin-top: -3px;
  .van-tabs__line{
    background-color:@blueColor !important;
  }
  .van-tab--active{
    color:@blueColor !important;
  }
  .van-stepper--round .van-stepper__plus{
    background-color: @blueColor !important;
  }
  .van-stepper--round .van-stepper__minus {
    color: @blueColor !important;
    background-color: #fff;
    border: 0.0625rem solid @blueColor !important;
}
  ul{
    width: 95%;
    margin: 10px auto auto auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li{
      width: 173px;
      height: 230px;
      box-sizing: border-box;
      background-color: @backgroundWhite;
      margin-bottom: 10px;
      border-radius: 5px;
      overflow: hidden;
      // padding: 8px;
      position: relative;
      .list-img{
        display: block;
        width: 100%;
        height: 150px;
        // margin: 8px auto; 
      }
      h3{
        width: 100%;
        box-sizing: border-box;
        margin: 5px auto;
        word-break: break-all;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        // text-align: center;
        font-size: 14px;
        padding: 0px 8px;
      }
      p{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        box-sizing: border-box;
        padding: 0px 8px;
        position: absolute;
        bottom: 8px;
        .price{
          width: 55%;
          overflow: hidden;
          color: @blueColor;
          font-size: 16px;
          font-weight: 600;
        }
        .stepper_but{
          width: 45%;
          margin-left: 5px;
          .van-stepper__input{
            width: 1.5rem !important;
          }
        }
      }
    }
  }
}
 
}

/* 商家信息 */
.information{
  width: 100%;
  overflow: hidden;
  .head{
    width: 100%;
    height: 110px;
    // margin-top: 10px;
    background-color: @backgroundWhite;
    display: flex;
    align-items: center;
    border-bottom: 1px solid @backgroundLightGrey;
    img{
      width: 80px;
      height: 80px;
      border-radius: 50px;
      margin: 0 15px 0px 25px;
    }
    .head_con{
      max-width: 60%;
      line-height: 30px;
      overflow: hidden;
      .head_title{
        font-size: 16px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
      .head_km{
        display: flex;
        align-items: center;
        font-size: 15px;
      }
    }
  }
  .business_address{
    width: 100%;
    padding: 15px 10px;
    box-sizing: border-box;
    background-color: @backgroundWhite;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid @backgroundLightGrey;
    .address_left{
       width: 22%;
    }
    .address_cont{
      width: 68%;
    }
    .address_right{
      width: 10%;
      text-align: center;
      line-height: 40px;
      color: @blueColor;
      font-size: 30px;
    }
  }
  .business_phone{
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    background-color: @backgroundWhite;
    border-bottom: 1px solid @backgroundLightGrey;
    line-height: 35px;
    .phone{
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      a{
        width: 80%;
        color: @blackColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .phone_right{
           font-size: 30px;
           color: @blueColor;
        }
      }
      // .phone_left{
      //   width: 20%;
      // }
      // .phone_cont{width: 70%;}
      // .phone_right{width: 10%;font-size: 30px; color: @blueColor;text-align: center;}
    }
  }
}
/* 商品详情 */
.waredetails{
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  .slide{
    flex: 1;
    overflow: auto;
 .van-swipe{
  height: 250px;
   .img{
     width: 100%;
     height: 100%;
   }
   .custom-indicator {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 2px 5px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.1);
    color: @backgroundWhite;
  }
 }
 .details_con{
   box-sizing: border-box;
   padding: 10px;
   background-color: @backgroundWhite;
   border-top: 1px solid @backgroundLightGrey;
   h3{
     font-weight: 500;
     font-size: 16px;
   }
   .share_piece{
     line-height: 30px;
     .yuanjia{
      text-decoration:line-through;
     }
     span{margin-right: 10px;}
   }
   .details_exchange_but{
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-between;
     align-items: center;
     .van-stepper__plus{
      background-color: @orangeColor;
     }
     .van-stepper__minus{
      color: @orangeColor;
      border: 1px solid @orangeColor;
     }
     span{
       color: @orangeColor;
     }
     b{
       font-size: 18px;
     }
   }
 }
 .bottom_px{
  margin-bottom: 110px;
  p{
    color: @greyColor;
    font-size: 14px;
  }
}
 .commodity_details{
   overflow: hidden;
   background-color: @backgroundWhite;
   padding: 10px;
   margin-top: 10px;
   p{
     margin-top: 8px;
    line-height: 23px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    text-align:left;
    text-align: justify;
   }
   img{
     width: 100%;
   }
 }
}
}

/* 购物车 */
.cart{
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  .cart_list{
    // background-color: @backgroundWhite;
    margin-bottom: 110px;
    .shop_name{
      height: 80px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      padding: 0 15px;
      box-sizing: border-box;
      .shop_img{
        width:50px;
        height:50px;
        border-radius: 50px;
        margin-right: 10px;
      }
      h3{
        width: 80%;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
      .icon_arrow{
        font-size: 20px;
        color: @greyColor;
      }
    }
    .list{
      ul li{
        width: 95%;
        margin: 10px auto 10px auto ;
        display: flex;
        flex-wrap: nowrap;
        background-color: @backgroundWhite;
        // border-top: 1px solid @backgroundLightGrey;
        margin-bottom: 10px;
        padding: 8px;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 5px;
        img{
          width: 25%;
          height: 100px;
          margin-right: 10px;
        }
        .list_cont{
          width:75%;
          position: relative;
          h3{
            word-break: break-all;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              text-align:left;
              text-align: justify;
          }
          .list_stepper{
            width: 100%;
            position: absolute;
            bottom: 0;
            .stepper_price{
              margin-bottom:5px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .price{font-size: 15px;color:@blueColor;font-weight: 600;}
              .num{border: 1px solid @backgroundLightGrey;border-radius: 5px;padding: 2px;}
            }
            .van-stepper__minus{
              color: @blueColor !important;
              // background-color: #fff;
              border: 0.0625rem solid  @blueColor !important;
            }
            .van-stepper__plus{
              background-color: @blueColor !important;
            }
          }
        }
      }
    }
  }
}

/* 订单确认 */
.orderconfirm{
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  .new_address{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-image: linear-gradient( #1D62F0 , #19D5FD);
    color: @backgroundWhite;
    text-align: center;
    border: none;
    justify-content: center;
  }
 .head_address{
   width: 95%;
   margin:10px auto;
   border-radius: 5px;
   background-color: @backgroundWhite;
  //  height: 100px;
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   padding: 8px;
   box-sizing: border-box;
  //  border-bottom: 2px dashed @greyColor;
   .map_marked{
     width: 10%;
     text-align: center;
     font-size: 20px;
     color: @blueColor;
   }
   .address_text{
     width: 85%;
     line-height: 20px;
     .consignee_p1{
       width: 100%;
       overflow: hidden;
       white-space: nowrap;
       .consignee{
        margin-right: 8px;
       }
      }
      .consignee_p2{
        width: 100%;
       overflow: hidden;
      //  white-space: nowrap;
      //  text-overflow: ellipsis;
      }
   }
   .arrow{
     font-size: 16px;
     color: @greyColor;
   }
 }
 .list{
   margin-bottom: 105px;
  ul li{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    background-color: @backgroundWhite;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;
    img{
      width: 25%;
      height: 90px;
      margin-right: 10px;
      border-radius: 3px;
    }
    .list_cont{
      width:75%;
      position: relative;
      h3{
        word-break: break-all;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-align:left;
          text-align: justify;
      }
      .list_stepper{
        width: 100%;
        position: absolute;
        bottom: 0;
        .stepper_price{
          // margin-bottom:5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .price{font-size: 15px;color:@blueColor;font-weight: 600;}
          .num{border: 1px solid @backgroundLightGrey;border-radius: 5px;padding: 2px;}
        }
        .van-stepper__minus{
          color: @blueColor !important;
          // background-color: #fff;
          border: 0.0625rem solid  @blueColor !important;
        }
        .van-stepper__plus{
          background-color: @blueColor !important;
        }
      }
    }
  }
}
.footer{
  background-color: @backgroundWhite;
  width: 100%;
  height: 45px;
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding: 0 10px;
  .totalNum{
    width: 22%;
    white-space: nowrap;
    overflow: hidden;
  }
  .totalAmout{
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    b{
      color: @blueColor;
      font-size: 16px;
    }
  }
  .generate_order{
    width: 25%;
    border: none;
    height: 30px;
    border-radius: 50px;
    background-color: @blueColor;
    color: @backgroundWhite;
  }
}
}
/* 地址列表 */
.addresslist{
  .new_address{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-image: linear-gradient( #1D62F0 , #19D5FD);
    color: @backgroundWhite;
    text-align: center;
    border: none;
    justify-content: center;
  }
  .list{
    margin-bottom: 60px;
    ul li{
      width: 100%;
      margin-bottom: 10px;
      background-color: @backgroundWhite;
      .li_list{
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      padding: 10px;
      box-sizing: border-box;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid @backgroundLightGrey;
      .returnOrder{
        width: 85%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        .surname{
          width: 40px;
          height:40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50px;
          background-color: @backgroundLightGrey;
          text-align: center;
          color: @greyColor;
          margin-right: 10px;
          font-size: 18px;
        }
        .address_cont{
          width:95%;
          .name_phone{
            width: 100%;
            .name{
              max-width: 66%;
              margin-right: 5px;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
      }
      
      .address_text{
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
        text-align:left;
        text-align: justify;
        .default{
          padding: 2px 5px;
          background-color: @papayaWhipColor;
          font-size: 12px;
          color: @orangeColor;
          margin-right: 8px;
        }
        .text{
          text-align:left;
          text-align: justify;
        }
      }
      .edit_address{
        width: 9%;
        font-size: 18px;
        color: @blueColor;
        text-align: right;
        border-left: 1px solid @backgroundShallow;
      }
    }
    .moren{
      width: 95%;
      height: 40px;
      margin: auto;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      .van-cell{
        width: 45%;
        height: 40px;
        padding: 0 !important;
      }
      .checked{
        font-size: 18px;
        color: @greyColor;
      }
    }
  }
  }
}
/* 新增地址 */
.newaddress{
  width: 100%;
  .address_field{
    width: 95%;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: @backgroundWhite;
    padding: 5px;
  }
  .van-cell{
    width: 95%;
    margin: auto;
    border-radius: 8px;
  }
  .address_but{
    width: 85%;
    height: 40px;
    margin:50px auto auto auto;
    display: block;
    background-color: @blueColor;
    color: @backgroundWhite;
    border: none;
    border-radius: 50px;
    font-size: 16px;
  }
}
/* 生成订单成功 */
.generateorder{
  width: 100%;
  background-color: @backgroundWhite;
  .success_icon{
    width: 100%;
    text-align: center;
    color: @greenColor;
    .checked{
      width: 100%;
      font-size: 100px;
      margin-top: 40px;
    }
    p{
      font-size: 16px;
    }
  }
  .order_code{
    width: 100%;
    img{
      width: 200px;
      height: 250px;
      display: block;
      margin: 20px auto 10px auto;
    }
    p{
      text-align: center;
      color: @orangeColor;
    }
  }
  .order_number{
    padding: 10px;
    text-align: center;
    color: @greyColor;
  }
}
/* 个人中心 */
.personalcenter{
  overflow: hidden;
  .head{
    overflow: hidden;
    width: 100%;
    background-image: linear-gradient(left,#1D62F0 , #19D5FD);
    img{
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 100px;
      margin: 20px auto auto auto;
    }
    p{
      padding:10px;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      box-sizing: border-box;
      justify-content: center;
      color: @backgroundWhite;
      span{
        margin-right: 5px;
      }
    }
  }
  .myorderlist{
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background-color: @backgroundWhite;
    border-bottom:1px solid @backgroundLightGrey;
    font-size: 16px;
    .records{
      font-size: 20px;
      margin-right: 8px;
      color: @blueColor;
      font-weight: 600;
    }
    .apps-o{
      font-size: 20px;
      margin-right: 8px;
      color:@orangeColor;
      font-weight: 600;
    }
    .myorderlist_text{
      width: 90%;
    }
  }
}
/* 用户订单列表 */
.orderlist{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .list{
    overflow: hidden;
    ul{
      width: 100%;
      li{
        width: 95%;
        margin: 10px auto 10px  auto;
        margin-bottom: 10px;
        background-color: @backgroundWhite;
        border-radius: 6px;
        padding: 8px 8px 0px 8px;
        box-sizing: border-box;
        line-height: 30px;
        p{color: @greyColor;}
        .left_right{
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          border-bottom: 1px solid @backgroundLightGrey;
          box-sizing: border-box;
          align-items: center;
          font-weight: 700;
          .channel{
            color: @blackColor;
          }
          .order_status{
            color: @blueColor;
          }
        }
        .left1_right1{
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          box-sizing: border-box;
          align-items: center;
          .order_status{
            color: @blueColor;
          }
          .consignee{
            max-width: 47%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .memo{
            color: @orangeColor;
          }
          .skuTotalPrice{
            color: @orangeColor;
            font-weight: 600;
            font-size: 16px;
          }
        }
        // .memo_price{
        //   border-top: 1px solid @backgroundLightGrey;
        //   padding-top: 5px;
        // }
        .more{
          padding: 8px 0px;
          border-top: 1px solid @backgroundLightGrey;
          font-size: 16px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          color: @blueColor;
          .arrow{font-size: 16px;}
        }
        .order_address{
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
     }
    }
  }
}
/* 订单详情 */
.orderdetails{
  .head_address{
    width: 95%;
    margin:10px auto;
    border-radius: 5px;
    background-color: @backgroundWhite;
   //  height: 100px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
   //  border-bottom: 2px dashed @greyColor;
    .map_marked{
      width: 10%;
      text-align: center;
      font-size: 20px;
      color: @blueColor;
    }
    .address_text{
      width: 89%;
      line-height: 20px;
      .consignee_p1{
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        .consignee{
         margin-right: 8px;
        }
       }
       .consignee_p2{
        width: 100%;
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
       }
    }
  }
  .detaillist{
    ul{
      background-color: @backgroundWhite;
      width: 95%;
      margin: auto;
      border-radius: 8px;
      padding: 0px 8px;
      box-sizing: border-box;
      li{
        display: flex;
        flex-wrap: nowrap;
        border-bottom:1px solid @backgroundLightGrey;
        padding: 16px 0px;
        box-sizing: border-box;
        img{
          width: 30%;
          height: 100px;
          border-radius: 8px;
          margin-right: 8px;
        }
        .detaillist_cont{
          width: 70%;
          position: relative;
        .skuTitle{
          word-break: break-all;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          text-align:left;
          text-align: justify;
        }
        .price_num{
          position: absolute;
          bottom: 0px;
          width: 100%;
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          .price{
            font-size: 16px;
            font-weight: 600;
            color: @orangeColor;
          }
          .num{

          }
        }
      }
      }
    }
  }
  .skuTotalPrice{
    width: 95%;
    display: flex;
    margin: 8px auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    background-color: @backgroundWhite;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 5px;
    b{
      color: @orangeColor;
      font-size: 16px;
    }
  }
  .order_information{
    width: 95%;
    padding: 8px;
    margin: auto auto 60px auto;
    background-color: @backgroundWhite;
    box-sizing: border-box;
    border-radius: 8px;
    h3{
      margin: 5px 0px 8px 0px;
      border-left: 4px solid @blueColor;
      padding-left: 5px;
    }
    p{
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
      align-items: center;
      color: @greyColor;
      box-sizing: border-box;
      margin: 5px 0px;
      .left{
        width:22%;
      }
      .right{
        width:78%;
      }
    }
  }
}
/* 商品管理 */
.commodityadmin{
  width: 100%;
  overflow: hidden;
  .edit-preservation{
    height: 40px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .edit-prese-text{
      color: #1D62F0;
    }
  }
  .ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 5px 0px 0px;
    li{
      width: 30%;
      display: flex;
      margin-top:10px;
      flex-direction: column;
      background-color: #fff;
      border-radius: 5px;
      margin-left: 10px;
      .img-checkbox{
        position: relative;
        .checked{
          position: absolute;
          top: 0;
          right: 0;
        }
      }
      .comm-img{
        width: 100%;
        height: 90px;
        border-radius: 5px 5px 0px 0px;
      }
      .comm-info{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 3px;
        background-color: #fff;
        border-radius: 0px 0px 5px 5px;
        .comm-name{
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .comm-price{
          color:#1D62F0;
        }
        span{
          padding: 2px 0px 0px 0;
          box-sizing: border-box;
        }
      }
    }
  }
}